# BASE URLS
BASE_URL=""

# ------------------------------------------------------------------

# LLM
MODEL_NAME="gpt-5.4-mini"

# ------------------------------------------------------------------

# API KEYS
OPENAI_API_KEY="sk-xxx"